<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaqxues.fixthing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Fixes an error in older Snapchat versions."/>
        <meta-data
            android:name="xposedminversion"
            android:value="82"/>
    </application>
</manifest>
